#!/bin/bash

export machine=e2-highcpu-8
export bootDiskName=""
export bootDiskSize=25                  # You need at least 14.5 Gb for the intel compiler suite.
export name=""
export sshKeyPath=""
export serviceAccount=""
export project=""
export externalIp=XXX.XXX.XX.XX         # If you are using an external ip, the one you reserved goes here. You could also
                                        # use the name of your gcp resererved external ip.

